*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Livvic', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  text-align: center;
}

.heading-1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

@media only screen and (min-width: 40em) {
  .heading-1 {
    font-size: 6.4rem;
    line-height: 5.6rem;
  }
}

@media only screen and (min-width: 75em) {
  .heading-1 {
    font-size: 10rem;
    line-height: 10rem;
  }
}

.heading-2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: 700;
}

@media only screen and (min-width: 75em) {
  .heading-2 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}

.heading-3 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
}

@media only screen and (min-width: 90em) {
  .about .heading-1 {
    font-size: 6.4rem;
    line-height: 10rem;
    margin: 0;
  }
}

.header__text-box {
  line-height: 2.8rem;
}

@media only screen and (min-width: 75em) {
  .header__text-box {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  .header__text-box::before {
    content: '';
    display: block;
    width: 5rem;
    height: 4px;
    background-color: #79C8C7;
    margin-bottom: 8.1rem;
  }
}

.about__text-box {
  line-height: 2.8rem;
}

@media only screen and (min-width: 90em) {
  .about__text-box {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  .about__text-box::before {
    content: '';
    display: block;
    width: 5rem;
    height: 4px;
    background-color: #79C8C7;
    margin-bottom: 4.3rem;
  }
}

.color-coral {
  color: #F67E7E;
}

.color-blue-light {
  color: #79C8C7;
}

.features .heading-2 {
  text-align: left;
  width: 24rem;
  margin-bottom: 4.8rem;
}

@media only screen and (min-width: 40em) {
  .features .heading-2 {
    width: 60vw;
  }
}

@media only screen and (min-width: 75em) {
  .features .heading-2 {
    width: 100%;
    margin-top: -5.75rem;
    margin-bottom: 0;
  }
}

.features .heading-2::before {
  content: '';
  display: block;
  width: 5rem;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 75em) {
  .features .heading-2::before {
    margin-bottom: 5.8rem;
  }
}

.features .heading-3 {
  margin-top: 1.9rem;
  margin-bottom: 0.8rem;
  color: #F67E7E;
}

@media only screen and (min-width: 40em) {
  .features .heading-3 {
    margin: 0;
  }
}

@media only screen and (min-width: 40em) {
  .stories .heading-2 {
    margin: 0 auto;
    width: 60vw;
  }
}

@media only screen and (min-width: 75em) {
  .stories .heading-2 {
    width: 65vw;
  }
}

@media only screen and (min-width: 75em) {
  .stories__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

.stories .story__paragraph {
  line-height: 2.5rem;
}

.stories .story__person {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #79C8C7;
}

.stories .story__position {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-style: italic;
}

.nav {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.nav a:link,
.nav a:visited {
  color: #FFFFFF;
}

.nav a:hover,
.nav a:active {
  color: #F67E7E;
}

.director__social-box a:hover svg path,
.director__social-box a:active svg path {
  fill: #F67E7E !important;
}

.directors .heading-2 {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 90em) {
  .directors .heading-2 {
    margin-bottom: 4rem;
  }
}

.directors .director__person {
  color: #79C8C7;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.directors .director__position {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-style: italic;
}

@media only screen and (min-width: 90em) {
  .contact .heading-1 {
    font-size: 6.4rem;
  }
}

.contact .heading-2 {
  color: #F67E7E;
}

@media only screen and (min-width: 90em) {
  .contact .heading-2 {
    font-size: 3.2rem;
  }
}

.contact__text {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.btn-contact {
  display: block;
  width: 15.3rem;
  height: 4.8rem;
  background-color: transparent;
  border: 2px solid #012F34;
  border-radius: 40px;
  padding-top: 0.82rem;
  margin: 0 auto;
  text-align: center;
}

.btn-contact:link, .btn-contact:visited {
  color: #012F34;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.btn-contact:hover, .btn-contact:active {
  color: #FFFFFF;
  background-color: #012F34;
  border: 2px solid #002529;
}

.white:link, .white:visited {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.white:hover, .white:active {
  color: #002529 !important;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.btn-submit {
  display: block;
  height: 4.8rem;
  width: 12.3rem;
  border-radius: 50px;
  font-family: inherit;
  background-color: #FFFFFF;
  border: none;
  font-size: 1.8rem;
}

.cta-box {
  background-color: #F67E7E;
  background-image: url(../img/bg-pattern-home-6-about-5.svg);
  background-repeat: no-repeat;
  background-position: bottom -2.5rem left;
  color: #012F34;
}

@media only screen and (min-width: 90em) {
  .cta-box {
    background-position: bottom left;
  }
}

.cta-box .wrapper {
  padding-top: 8.3rem;
  padding-bottom: 8.3rem;
}

@media only screen and (min-width: 48em) {
  .cta-box .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cta-box .wrapper .btn-contact {
    margin: 0;
  }
}

@media only screen and (min-width: 90em) {
  .cta-box .wrapper {
    padding: 7.6rem 18.3vw 6.9rem 18.3vw;
  }
}

.cta-box .heading-2 {
  margin-bottom: 1.6rem;
}

@media only screen and (min-width: 48em) {
  .cta-box .heading-2 {
    margin: 0;
  }
}

@media only screen and (min-width: 90em) {
  .cta-box .heading-2 {
    margin-top: 0.7rem;
  }
}

.header {
  background-color: #014E56;
  background-image: url(../img/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (min-width: 90em) {
  .header {
    background-image: url(../img/bg-pattern-home-2.svg), url(../img/bg-pattern-home-1.svg);
    background-repeat: no-repeat;
    background-position: bottom right 16.5rem, top 5.5rem left -10rem;
  }
}

.header .wrapper {
  padding-top: 3.2rem;
  padding-bottom: 20rem;
}

@media only screen and (min-width: 75em) {
  .header .wrapper {
    padding-top: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 90em) {
  .header .wrapper {
    padding-bottom: 22.5rem;
  }
}

@media only screen and (min-width: 75em) {
  .header .heading-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    text-align: left;
  }
}

@media only screen and (min-width: 40em) {
  .header__text-box {
    width: 60vw;
    margin: 2.3rem auto 0 auto;
  }
}

@media only screen and (min-width: 75em) {
  .header__text-box {
    margin-left: 11rem;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
}

@media only screen and (min-width: 90em) {
  .header__text-box {
    margin-top: -1.4rem;
  }
}

.features {
  background-color: #012F34;
  display: block;
  background-image: url(../img/bg-pattern-home-3.svg);
  background-repeat: no-repeat;
  background-position: top right -10rem;
}

@media only screen and (min-width: 75em) {
  .features {
    background-position: bottom right -10rem;
  }
}

.features .wrapper {
  padding-top: 10rem;
  padding-bottom: 6.1rem;
}

@media only screen and (min-width: 75em) {
  .features .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 1fr;
        grid-template-columns: 40% 1fr;
    -webkit-column-gap: 13rem;
            column-gap: 13rem;
    padding-top: 19.8rem;
    padding-bottom: 10.1rem;
  }
}

.features .feature {
  margin-bottom: 4.5rem;
}

@media only screen and (min-width: 40em) {
  .features .feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    row-gap: 1.3rem;
    justify-items: start;
  }
  .features .feature .paragraph {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: left;
  }
  .features .feature img {
    grid-row: 1/-1;
  }
}

@media only screen and (min-width: 75em) {
  .features .feature {
    margin-bottom: 4.1rem;
  }
}

.footer {
  background-color: #002529;
  color: #707070;
}

.footer .wrapper {
  padding-top: 6.2rem;
  padding-bottom: 6.2rem;
}

@media only screen and (min-width: 40em) {
  .footer .wrapper {
    padding: 5.6rem 3.9rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 75em) {
  .footer .wrapper {
    padding: 6.2rem 9.7rem;
  }
}

@media only screen and (min-width: 90em) {
  .footer .wrapper {
    padding: 4.8rem 16.5rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
  }
}

.footer a:link,
.footer a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.footer a:hover,
.footer a:active {
  color: #F67E7E;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10.7rem;
  margin: 0 auto;
}

@media only screen and (min-width: 40em) {
  .footer-nav__list {
    margin: 0;
  }
}

@media only screen and (min-width: 40em) {
  .footer-nav__list {
    width: 14rem;
  }
}

@media only screen and (min-width: 90em) {
  .footer-nav__item:not(:last-child) {
    margin-right: 3.2rem;
  }
}

.footer-nav__logo {
  margin-bottom: 2.7rem;
  width: 9.6rem;
}

@media only screen and (min-width: 40em) {
  .footer-nav__logo {
    margin-bottom: 5.6rem;
  }
}

@media only screen and (min-width: 90em) {
  .footer-nav__logo {
    width: 16rem;
    margin-bottom: 2.2rem;
  }
}

.footer-nav {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 40em) {
  .footer-nav {
    margin-bottom: 3.6rem;
    text-align: left;
  }
}

@media only screen and (min-width: 90em) {
  .footer-nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    margin-bottom: 0;
    letter-spacing: 2px;
  }
}

.footer__address {
  line-height: 2.5rem;
}

@media only screen and (min-width: 40em) {
  .footer__address {
    text-align: right;
  }
}

@media only screen and (min-width: 90em) {
  .footer__address {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    text-align: left;
  }
}

.footer-social {
  margin-top: 3.7rem;
  margin-bottom: 1.9rem;
  margin-right: auto;
  margin-left: auto;
  width: 10.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social a:last-of-type {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.footer-social a:hover svg path,
.footer-social a:active svg path {
  fill: #F67E7E !important;
}

@media only screen and (min-width: 40em) {
  .footer-social {
    margin: 0;
  }
}

@media only screen and (min-width: 90em) {
  .footer-social {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media only screen and (min-width: 40em) {
  .footer__copyright {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    text-align: right;
  }
}

@media only screen and (min-width: 90em) {
  .footer__copyright {
    display: block;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.nav {
  background-color: #014E56;
}

.nav .logo {
  height: 3.2rem;
}

@media only screen and (min-width: 90em) {
  .nav .logo {
    height: 4rem;
  }
}

.nav .wrapper {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 40em) {
  .nav .wrapper {
    padding: 6.4rem 3.9rem;
  }
}

@media only screen and (min-width: 75em) {
  .nav .wrapper {
    padding: 6.4rem 9.7rem;
  }
}

@media only screen and (min-width: 90em) {
  .nav .wrapper {
    padding: 7.3rem 16.5rem;
  }
}

.nav .hamburger {
  cursor: pointer;
}

@media only screen and (min-width: 40em) {
  .nav .hamburger {
    display: none;
  }
}

.nav__link {
  text-decoration: none;
}

.nav__background {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 40em) {
  .nav__box {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #2C6269;
    background-image: url(/img/bg-pattern-about-1-mobile-nav-1.svg);
    background-repeat: no-repeat;
    background-position: bottom right -10rem;
    position: fixed;
    top: 0;
    right: -68%;
    width: 68%;
    height: 100%;
    z-index: 10;
    padding: 4.8rem;
    text-align: right;
  }
  .nav__box .hamburger {
    margin-right: -2.4rem;
  }
  .nav__box .nav__list {
    display: block;
    text-align: left;
  }
  .nav__box .nav__item {
    padding: 1.45rem 0;
  }
}

@media only screen and (max-width: 40em) {
  .nav .btn-contact {
    margin: 3rem 0 0 0;
  }
}

@media only screen and (min-width: 40em) {
  .nav .nav__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 7vw;
    margin-right: auto;
  }
}

@media only screen and (min-width: 40em) and (min-width: 40em) {
  .nav .nav__list {
    margin-left: 5.6vw;
  }
}

@media only screen and (min-width: 40em) {
  .nav .nav__item:not(:last-child) {
    margin-right: 4.3rem;
  }
  .nav .nav__item:last-child {
    margin-left: auto;
  }
  .nav .btn-contact {
    margin-right: 0;
  }
}

.stories {
  background-color: #004047;
  display: block;
  position: relative;
  background-image: url(../img/bg-pattern-home-4-about-3.svg), url(../img/bg-pattern-about-2-contact-1.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom -10.1rem right 0;
}

.stories .wrapper {
  padding-top: 14.5rem;
  padding-bottom: 15.1rem;
}

.stories .story {
  margin-top: 4rem;
  padding-top: 3.9rem;
  background-image: url(../img/icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: top;
}

@media only screen and (min-width: 75em) {
  .stories .story {
    padding-top: 4.7rem;
    background-size: 18%;
    background-position: top;
  }
}

.stories .story__person {
  display: block;
}

@media only screen and (min-width: 75em) {
  .stories .story__person {
    margin-top: 2.6rem;
  }
}

.stories .story__position {
  display: block;
  margin-bottom: 1.7rem;
}

@media only screen and (min-width: 75em) {
  .stories .story__position {
    margin-top: 0.4rem;
    margin-bottom: 3.1rem;
  }
}

.stories .story__photo-box {
  display: block;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #C4FFFE;
  margin: 0 auto;
}

.stories .story__photo-box img {
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.about {
  background-color: #014E56;
  background-image: url(../img/bg-pattern-about-1-mobile-nav-1.svg);
  background-repeat: no-repeat;
  background-position: bottom -10rem right -10rem;
}

@media only screen and (min-width: 90em) {
  .about {
    background-position: bottom right -10rem;
  }
}

.about .wrapper {
  padding-top: 3.2rem;
  padding-bottom: 11.7rem;
}

@media only screen and (min-width: 90em) {
  .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 4.9rem;
    padding-bottom: 12.1rem;
  }
}

@media only screen and (min-width: 40em) {
  .about__text-box {
    width: 60vw;
    margin: 2.3rem auto 0 auto;
  }
}

@media only screen and (min-width: 90em) {
  .about__text-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 19rem;
    text-align: left;
    margin-top: -0.2rem;
  }
}

.directors {
  background-color: #004047;
  background-image: url(../img/bg-pattern-about-2-contact-1.svg), url(../img/bg-pattern-home-4-about-3.svg);
  background-repeat: no-repeat;
  background-position: top -10rem left -10rem, bottom right;
}

@media only screen and (min-width: 40em) {
  .directors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 90em) {
  .directors {
    background-position: top left -10rem, bottom right;
  }
}

.directors .wrapper {
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}

@media only screen and (min-width: 40em) {
  .directors .wrapper {
    padding-right: 3rem;
    padding-left: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(23rem, 40rem))[2];
        grid-template-columns: repeat(2, minmax(23rem, 40rem));
    -webkit-column-gap: 1.2rem;
            column-gap: 1.2rem;
  }
}

@media only screen and (min-width: 90em) {
  .directors .wrapper {
    padding-top: 14.5rem;
    padding-bottom: 11.8rem;
    -ms-grid-columns: (35rem)[3];
        grid-template-columns: repeat(3, 35rem);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 2rem;
  }
}

.directors .heading-2 {
  grid-column: 1 / -1;
}

.directors .director {
  position: relative;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  height: 25.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 5.2rem;
}

.directors .director__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 25.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.directors .director__side--front {
  background-color: #012F34;
  padding-top: 3.2rem;
  padding-bottom: 5.3rem;
}

.directors .director__side--back {
  background-color: #002529;
  padding: 5rem 3.8rem 0 4.65rem;
  text-align: center;
}

.directors .director__side--back .director__person {
  margin-bottom: 0.8rem;
}

.directors .director__side--back .director__quote {
  margin-bottom: 2.1rem;
}

.directors .director__side--back .director__social-box a:not(:last-child) {
  margin-right: 1rem;
}

.directors .director .btn-about {
  display: block;
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  background-image: url(../img/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  bottom: -2.4rem;
  left: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.directors .director .btn--more {
  background-color: #F67E7E;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.directors .director .btn--back {
  background-color: #79C8C7;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.directors .director__photo-box {
  display: block;
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #C4FFFE;
  margin: 0 auto 1.9rem auto;
}

.directors .director__photo-box img {
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.directors .director__person {
  display: block;
}

.show-front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.hide-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.show-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.hide-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.clients {
  background-color: #012F34;
  background-image: url(../img/bg-pattern-about-4.svg);
  background-repeat: no-repeat;
  background-position: top -10rem left -11rem;
}

@media only screen and (min-width: 90em) {
  .clients {
    background-position: top left;
  }
}

.clients .wrapper {
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}

@media only screen and (min-width: 40em) {
  .clients .wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 90em) {
  .clients .wrapper {
    padding-left: 16.5rem;
    padding-right: 16.5rem;
    padding-top: 14.7rem;
    padding-bottom: 12.2rem;
  }
}

.clients .heading-2 {
  margin-bottom: 5.6rem;
}

@media only screen and (min-width: 90em) {
  .clients .heading-2 {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 40em) {
  .clients__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clients .img-box {
  display: block;
  width: auto;
}

.clients .img-box:last-child {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.clients .img-box img {
  width: 60%;
  height: auto;
}

.clients .img-box:not(:last-child) {
  margin-bottom: 4.5rem;
}

@media only screen and (min-width: 40em) {
  .clients .img-box:not(:last-child) {
    margin-bottom: 0;
  }
}

.contact {
  background-color: #014E56;
  background-image: url(../img/bg-pattern-contact-2.svg);
  background-repeat: no-repeat;
  background-position: bottom -10rem right -10rem;
}

@media only screen and (min-width: 40em) {
  .contact {
    background-image: url(../img/bg-pattern-contact-2.svg), url(../img/bg-pattern-about-2-contact-1.svg);
    background-repeat: no-repeat;
    background-position: bottom -3rem right -10rem, top left -10rem;
  }
}

@media only screen and (min-width: 90em) {
  .contact {
    background-position: bottom -3rem right -10rem, top 5.2rem left -10rem;
  }
}

.contact .wrapper {
  padding-top: 3.2rem;
  padding-bottom: 11.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 90em) {
  .contact .wrapper {
    padding-top: 5rem;
    padding-bottom: 6rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (min-content)[3];
        grid-template-rows: repeat(3, -webkit-min-content);
        grid-template-rows: repeat(3, min-content);
    -webkit-column-gap: 3.6rem;
            column-gap: 3.6rem;
    justify-items: start;
  }
}

.contact__list {
  padding: 4.4rem 0 5.9rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (min-width: 40em) {
  .contact__list {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media only screen and (min-width: 90em) {
  .contact__list {
    padding: 3.4rem 0 5.9rem 0;
    letter-spacing: 0.3px;
  }
}

.contact__item {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__item:first-child img {
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}

.contact__item:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media only screen and (min-width: 40em) {
  .contact__item:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

.contact__img-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7.2rem;
          flex: 0 0 7.2rem;
  width: 7.2rem;
  height: 7.2rem;
  margin-right: 2.3rem;
}

.contact__img-box img {
  height: 7.2rem;
  right: 0;
}

.contact .form {
  max-width: 54.2rem;
}

.contact .form__box {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  text-align: left;
}

@media only screen and (min-width: 40em) {
  .contact .form__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 90em) {
  .contact .form__box {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 40em) {
  .contact .form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.contact .form__group:not(:last-child) {
  margin-bottom: 3rem;
  position: relative;
}

.contact .form input,
.contact .form textarea {
  font-family: inherit;
  font-size: inherit;
  color: #FFFFFF;
  font-weight: 300;
  padding: 1.5rem 2rem 0.5rem 2rem;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
  width: 100%;
}

.contact .form input:focus,
.contact .form textarea:focus {
  border-bottom: 1px solid #79C8C7;
  outline: none;
}

.contact .form input:not(:focus):invalid,
.contact .form textarea:not(:focus):invalid {
  border-bottom: 1px solid #F67E7E;
}

.contact .form input:not(:focus):invalid ~ label,
.contact .form textarea:not(:focus):invalid ~ label {
  color: rgba(246, 126, 126, 0.7);
}

.contact .form label {
  display: block;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  top: -1.5rem;
  left: 0;
}

.wrapper {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

@media only screen and (min-width: 40em) {
  .wrapper {
    padding-left: 9.7rem;
    padding-right: 9.7rem;
  }
}

@media only screen and (min-width: 90em) {
  .wrapper {
    padding-left: 16.5rem;
    padding-right: 16.5rem;
  }
}
/*# sourceMappingURL=main.css.map */