*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Livvic', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  text-align: center;
}

.heading-1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.heading-2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: 700;
}

.heading-3 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
}

.header__text-box,
.about__text-box {
  line-height: 2.8rem;
}

.color-coral {
  color: #F67E7E;
}

.color-blue-light {
  color: #79C8C7;
}

.features .heading-2 {
  text-align: left;
  width: 24rem;
  margin-bottom: 4.8rem;
}

.features .heading-2::before {
  content: '';
  display: block;
  width: 5rem;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom: 5rem;
}

.features .heading-3 {
  margin-top: 1.9rem;
  margin-bottom: 0.8rem;
  color: #F67E7E;
}

.stories .story__paragraph {
  line-height: 2.5rem;
}

.stories .story__person {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #79C8C7;
}

.stories .story__position {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-style: italic;
}

.nav {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.nav a:link,
.nav a:visited {
  color: #FFFFFF;
}

.nav a:hover,
.nav a:active {
  color: #F67E7E;
}

.footer-social__box a:hover path,
.footer-social__box a:active path {
  fill: #F67E7E;
}

.directors .heading-2 {
  margin-bottom: 4rem;
}

.directors .director__person {
  color: #79C8C7;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.directors .director__position {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-style: italic;
}

.btn-contact {
  display: block;
  width: 15.3rem;
  height: 4.8rem;
  background-color: transparent;
  border: 2px solid #012F34;
  border-radius: 40px;
  padding-top: 0.82rem;
  margin: 0 auto;
  text-align: center;
}

.btn-contact:link, .btn-contact:visited {
  color: #012F34;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.btn-contact:hover, .btn-contact:active {
  color: #FFFFFF;
  background-color: #012F34;
  border: 2px solid #002529;
}

.white:link, .white:visited {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.white:hover, .white:active {
  color: #002529 !important;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.cta-box {
  background-color: #F67E7E;
  background-image: url(../img/bg-pattern-home-6-about-5.svg);
  background-repeat: no-repeat;
  background-position: bottom -2.5rem left;
  color: #012F34;
}

.cta-box .wrapper {
  padding-top: 8.3rem;
  padding-bottom: 8.3rem;
}

.cta-box .heading-2 {
  margin-bottom: 1.6rem;
}

.header {
  background-color: #014E56;
  background-image: url(../img/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.header .wrapper {
  padding-top: 3.2rem;
  padding-bottom: 20rem;
}

.features {
  background-color: #012F34;
  display: block;
  background-image: url(../img/bg-pattern-home-3.svg);
  background-repeat: no-repeat;
  background-position: top right -10rem;
}

.features .wrapper {
  padding-top: 10rem;
  padding-bottom: 6.1rem;
}

.features .feature {
  margin-bottom: 4.5rem;
}

.footer {
  background-color: #002529;
  color: #707070;
}

.footer .wrapper {
  padding-top: 6.2rem;
  padding-bottom: 6.2rem;
}

.footer a:link,
.footer a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.footer a:hover,
.footer a:active {
  color: #F67E7E;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10.7rem;
  margin: 0 auto;
}

.footer-nav__logo {
  margin-bottom: 2.7rem;
  width: 9.6rem;
}

.footer-nav {
  margin-bottom: 3rem;
}

.footer__address {
  line-height: 2.5rem;
}

.footer-social__box {
  margin-top: 3.7rem;
  margin-bottom: 1.9rem;
  margin-right: auto;
  margin-left: auto;
  width: 10.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  background-color: #014E56;
}

.nav .logo {
  height: 3.2rem;
}

.nav .wrapper {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .hamburger {
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
}

.nav__background {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.nav__box {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #2C6269;
  background-image: url(/img/bg-pattern-about-1-mobile-nav-1.svg);
  background-repeat: no-repeat;
  background-position: 16rem 100%;
  position: fixed;
  top: 0;
  right: -68%;
  width: 68%;
  height: 100%;
  z-index: 10;
  padding: 4.8rem;
  text-align: right;
}

.nav__box .hamburger {
  margin-right: -2.4rem;
}

.nav__box .nav__list {
  display: block;
  text-align: left;
}

.nav__box .nav__item {
  padding: 1.45rem 0;
}

.stories {
  background-color: #004047;
  display: block;
  position: relative;
  background-image: url(../img/bg-pattern-home-4-about-3.svg), url(../img/bg-pattern-about-2-contact-1.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom -10.1rem right 0;
}

.stories .wrapper {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.stories .story {
  margin-top: 4rem;
  padding-top: 3.9rem;
  background-image: url(../img/icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.stories .story__person {
  display: block;
}

.stories .story__position {
  display: block;
  margin-bottom: 1.7rem;
}

.stories .story__photo-box {
  display: block;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #C4FFFE;
  margin: 0 auto;
}

.stories .story__photo-box img {
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.about {
  background-color: #014E56;
  background-image: url(../img/bg-pattern-about-1-mobile-nav-1.svg);
  background-repeat: no-repeat;
  background-position: bottom -10rem right -10rem;
}

.about .wrapper {
  padding-top: 3.2rem;
  padding-bottom: 11.7rem;
}

.directors {
  background-color: #004047;
  background-image: url(../img/bg-pattern-about-2-contact-1.svg), url(../img/bg-pattern-home-4-about-3.svg);
  background-repeat: no-repeat;
  background-position: top -10rem left -10rem, bottom right;
}

.directors .wrapper {
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}

.directors .director {
  position: relative;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  height: 25.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 5.2rem;
}

.directors .director__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 25.3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.directors .director__side--front {
  background-color: #012F34;
  padding-top: 3.2rem;
  padding-bottom: 5.3rem;
}

.directors .director__side--back {
  background-color: #002529;
  padding: 5rem 3.8rem 0 4.65rem;
  text-align: center;
}

.directors .director__side--back .director__person {
  margin-bottom: 0.8rem;
}

.directors .director__side--back .director__quote {
  margin-bottom: 2.1rem;
}

.directors .director__side--back .director__social-box svg:not(:last-child) {
  margin-right: 1rem;
}

.directors .director .btn-about {
  display: block;
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  background-image: url(../img/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  bottom: -2.4rem;
  left: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.directors .director .btn--more {
  background-color: #F67E7E;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.directors .director .btn--back {
  background-color: #79C8C7;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.directors .director__photo-box {
  display: block;
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #C4FFFE;
  margin: 0 auto 1.9rem auto;
}

.directors .director__photo-box img {
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.directors .director__person {
  display: block;
}

.show-front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.hide-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.show-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.hide-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.clients {
  background-color: #012F34;
  background-image: url(../img/bg-pattern-about-4.svg);
  background-repeat: no-repeat;
  background-position: top -10rem left -11rem;
}

.clients .wrapper {
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}

.clients .heading-2 {
  margin-bottom: 5.6rem;
}

.clients img {
  display: block;
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
}

.clients img:not(:last-child) {
  margin-bottom: 4.5rem;
}

.clients img:last-child {
  max-width: 9rem;
}

.wrapper {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
/*# sourceMappingURL=main.css.map */