///////////////////////////////////
///////// COLORS
$color-primary-green: #014E56;
$color-primary-coral: #F67E7E;

$color-white: #FFFFFF;
$color-gray: #707070;

$color-blue-light: #79C8C7;
$color-blue: #2C6269;
$color-blue-dark: #004047;

$color-green-dark: #012F34;
$color-green-vdark: #002529;

///////////////////////////////////
///////// MARGINS

$padding-mobile: 2.4rem;
$padding-tablet-small: 3.9rem;
$padding-tablet-large: 9.7rem;