.cta-box {
    background-color: $color-primary-coral;
    background-image: url(../img/bg-pattern-home-6-about-5.svg);
    background-repeat: no-repeat;
    background-position: bottom -2.5rem left;

    color: $color-green-dark;

    .wrapper {
        padding-top: 8.3rem;
        padding-bottom: 8.3rem;
    }

    .heading-2 {
        margin-bottom: 1.6rem;
    }
}