.features {
    background-color: $color-green-dark;
    display: block;

    background-image: url(../img/bg-pattern-home-3.svg);
    background-repeat: no-repeat;
    background-position: top right -10rem;

    @media only screen and (min-width: 75em) {
        background-position: bottom right -10rem;
    }

    .wrapper {
        padding-top: 10rem;
        padding-bottom: 6.1rem;

        @media only screen and (min-width: 75em) {
            display: grid;
            grid-template-columns: 40% 1fr;
            column-gap: 13rem;
            padding-top: 19.8rem;
            padding-bottom: 10.1rem;
        }
    }

    .feature {
        margin-bottom: 4.5rem;

        @media only screen and (min-width: 40em) {
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-template-rows: repeat(2, min-content);
            column-gap: 2rem;
            row-gap: 1.3rem;
            justify-items: start;

            .paragraph {
                grid-column: 2/3;
                text-align: left;
            }

            img {
                grid-row: 1/-1;
            }

        }
        @media only screen and (min-width: 75em) {
            margin-bottom: 4.1rem;
        }
    }
   
}