.footer {
    background-color: $color-green-vdark;
    color: $color-gray;

    .wrapper {
        padding-top: 6.2rem;
        padding-bottom: 6.2rem;

        @media only screen and (min-width: 40em) {
            padding: 5.6rem $padding-tablet-small;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (min-width: 75em) {
            padding: 6.2rem $padding-tablet-large;
        }
        @media only screen and (min-width: 90em) {
            padding: 4.8rem $padding-desktop;

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, min-content);
        }
    }

    a:link,
    a:visited {
        color: $color-white;
        text-decoration: none;
    }

    a:hover,
    a:active {
    color: $color-primary-coral;
}

    &-nav__list {
        display: flex;
        justify-content: space-between;
        width: 10.7rem;
        margin: 0 auto;

        @media only screen and (min-width: 40em) {
            margin: 0;
        }
        @media only screen and (min-width: 40em) {
            width: 14rem;
        }
    }

    &-nav__item:not(:last-child) {
        @media only screen and (min-width: 90em) {
            margin-right: 3.2rem;
        }
    }

    &-nav__logo {
        margin-bottom: 2.7rem;
        width: 9.6rem;

        @media only screen and (min-width: 40em) {
            margin-bottom: 5.6rem;
        }
        @media only screen and (min-width: 90em) {
            width: 16rem;
            margin-bottom: 2.2rem;
        }
    }

    &-nav {
        margin-bottom: 3rem;
        @media only screen and (min-width: 40em) {
            margin-bottom: 3.6rem;
            text-align: left;
        }
        @media only screen and (min-width: 90em) {
            grid-row: 1 / 3;
            margin-bottom: 0;
            letter-spacing: 2px;
        }
    }

    &__address {
        line-height: 2.5rem;
        @media only screen and (min-width: 40em) {
            text-align: right;
        }
        @media only screen and (min-width: 90em) {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            text-align: left;
        }
    }

    &-social {
        margin-top: 3.7rem;
        margin-bottom: 1.9rem;

        margin-right: auto;
        margin-left: auto;
        width: 10.4rem;
        display: flex;
        justify-content: space-between;

        a:last-of-type {
            transform: translateY(3px);
        }

        @media only screen and (min-width: 40em) {
            margin: 0;
        }
        @media only screen and (min-width: 90em) {
            grid-column: 4 / 5;
            justify-self: end;
        }
    }

    &__copyright {
        @media only screen and (min-width: 40em) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            text-align: right;
        }
        @media only screen and (min-width: 90em) {
            display: block;
            grid-column: 4 / 5;
            align-self: end;
        }
    }
}