.header {
    background-color: $color-primary-green;
    background-image: url(/img/bg-pattern-home-2.svg);
    background-repeat: no-repeat;
    background-position: bottom;

    .wrapper {
        padding-top: 3.2rem;
        padding-bottom: 20rem;
    }
}