.nav {
    background-color: $color-primary-green;
    transition: all 0.5s;

    .logo {
        height: 3.2rem;
    }
    
    .wrapper {
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        cursor: pointer;
    }

    &__link {
        text-decoration: none;
    }

    &__box {
        transition: all 0.5s;
        background-color: $color-blue;
        background-image: url(/img/bg-pattern-about-1-mobile-nav-1.svg);
        background-repeat: no-repeat;
        background-position: 16rem 100%;
        position: fixed;
        top: 0;
        right: -68%;
        width: 68%;
        height: 100%;
        z-index: 10;
        padding-top: 4.8rem;
        padding-right: $padding-mobile;
        padding-left: 4.8rem;
        text-align: right;

        .nav__list {
            display: block;
            text-align: left;
        }

        .nav__item {
            padding: 1.45rem 0;
        }
    }
}