body {
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: $color-white;
    text-align: center;
}

.heading {
    &-1 {
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 700;
        margin-bottom: 1.3rem;
        @media only screen and (min-width: 40em) {
            font-size: 6.4rem;
            line-height: 5.6rem;
        }
        @media only screen and (min-width: 75em) {
            font-size: 10rem;
            line-height: 10rem;
        }
    }

    &-2 {
        font-size: 3.2rem;
        line-height: 3.2rem;
        font-weight: 700;
        @media only screen and (min-width: 75em) {
            font-size: 4.8rem;
            line-height: 4.8rem;
        }

    
    }

    &-3 {
        font-size: 1.8rem;
        line-height: 2.8rem;
        font-weight: 700;
    }
}

.header__text-box,
.about__text-box {
    line-height: 2.8rem;
    @media only screen and (min-width: 75em) {
        font-size: 1.8rem;
        line-height: 2.8rem;

        &::before {
            content: '';
            display: block;
            width: 5rem;
            height: 4px;
            background-color: $color-blue-light;
            margin-bottom: 8.1rem;
        }
    }
}

.color-coral {
    color: $color-primary-coral;
}

.color-blue-light {
    color: $color-blue-light;
}

.features {
    .heading-2 {
        text-align: left;
        width: 24rem;
        margin-bottom: 4.8rem;

        @media only screen and (min-width: 40em) {
            width: 60vw;
        }
        @media only screen and (min-width: 75em) {
            width: 100%;
            margin-top: -5.75rem;
            margin-bottom: 0;
        }

        &::before {
            content: '';
            display: block;
            width: 5rem;
            height: 4px;
            background-color: $color-primary-coral;
            margin-bottom: 5rem;
            @media only screen and (min-width: 75em) {
                margin-bottom: 5.8rem;
            }
        }
    }
    .heading-3 {
        margin-top: 1.9rem;
        margin-bottom: 0.8rem;
        color: $color-primary-coral;

        @media only screen and (min-width: 40em) {
            margin: 0;
        }
    }
}

.stories {
    .heading-2 {
        @media only screen and (min-width: 40em) {
            margin: 0 auto;
            width: 60vw;
        }
        @media only screen and (min-width: 75em) {
            width: 65vw;
        }
    }

    &__list {
        @media only screen and (min-width: 75em) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 4rem;
        }
    }
    .story__paragraph {
        line-height: 2.5rem;
    }

    .story__person {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $color-blue-light;
    }

    .story__position {
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-style: italic;
    }
}

.nav {
    font-size: 1.8rem;
    line-height: 2.8rem;

    a:link,
    a:visited {
        color: $color-white;
    }

    a:hover,
    a:active {
        color: $color-primary-coral;
    }
}

.footer-social__box,
.director__social-box {
    a:hover path,
    a:active path {
        fill: $color-primary-coral;
    }
}

.directors {
    .heading-2 {
        margin-bottom: 4rem;
    }

    
    .director__person {
        color: $color-blue-light;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .director__position {
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-style: italic;
    }
}

.contact {
    .heading-2 {
        color: $color-primary-coral;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
}