.about {
    background-color: $color-primary-green;
    background-image: url(../img/bg-pattern-about-1-mobile-nav-1.svg);
    background-repeat: no-repeat;
    background-position: bottom -10rem right -10rem;

    .wrapper {
        padding-top: 3.2rem;
        padding-bottom: 11.7rem;
    }
}

.directors {
    background-color: $color-blue-dark;
    background-image: url(../img/bg-pattern-about-2-contact-1.svg), url(../img/bg-pattern-home-4-about-3.svg);
    background-repeat: no-repeat;
    background-position: top -10rem left -10rem, bottom right;
    .wrapper {
        padding-top: 8.8rem;
        padding-bottom: 8.8rem;
    }

    .director {
        position: relative;
        perspective: 150rem;
        height: 25.3rem;
        transition: all 0.5s;
        margin-bottom: 5.2rem;
        
        &__side {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            backface-visibility: hidden;
            height: 25.3rem;
            transition: all 0.5s;

            &--front {
                background-color: $color-green-dark;
                padding-top: 3.2rem;
                padding-bottom: 5.3rem;
            }

            &--back {
                
                background-color: $color-green-vdark;
                padding: 5rem 3.8rem 0 4.65rem;
                text-align: center;

                .director__person {
                    margin-bottom: 0.8rem;
                }
                .director__quote {
                    margin-bottom: 2.1rem;
                }
                .director__social-box svg {
                    &:not(:last-child) {
                        margin-right: 1rem;
                    }
                }
            }    
        }

        .btn-about {
            display: block;
            position: absolute;
            width: 5.6rem;
            height: 5.6rem;
            background-image: url(../img/icon-cross.svg);
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            bottom: -2.4rem;
            left: 50%;
            cursor: pointer;
            transition: all 0.5s;
        }

        .btn--more {
            background-color: $color-primary-coral;
            transform: translateX(-50%);
            }

        .btn--back {
            background-color: $color-blue-light;
            transform: translateX(-50%) rotate(45deg);
        }

        &__photo-box {
            display: block;
            width: 9.6rem;
            height: 9.6rem;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #C4FFFE;
            margin: 0 auto 1.9rem auto;

            img {
                height: 100%;
                backface-visibility: hidden;
            }
        }

        &__person {
            display: block;
        }
    }
}

.show-front {
    transform: rotateY(0);
}
.hide-front {
    transform: rotateY(-180deg);
}

.show-back {
    transform: rotateY(0);
}
.hide-back {
    transform: rotateY(180deg);
}

.clients {
    background-color: $color-green-dark;
    background-image: url(../img/bg-pattern-about-4.svg);
    background-repeat: no-repeat;
    background-position: top -10rem left -11rem;

    .wrapper {
        padding-top: 8.8rem;
        padding-bottom: 8.8rem;
    }

    .heading-2 {
        margin-bottom: 5.6rem;
    }

    img {
        display: block;
        max-width: 22.5rem;
        margin-left: auto;
        margin-right: auto;

        &:not(:last-child) {
            margin-bottom: 4.5rem;
        }

        &:last-child {
            max-width: 11.25rem;
        }
    }
}