.contact {
    background-color: $color-primary-green;
    background-image: url(../img/bg-pattern-contact-2.svg);
    background-repeat: no-repeat;
    background-position: bottom -10rem right -10rem;

    @media only screen and (min-width: 40em) {
        background-image: url(../img/bg-pattern-contact-2.svg), url(../img/bg-pattern-about-2-contact-1.svg);
        background-repeat: no-repeat;
        background-position: bottom -3rem right -10rem, top left -10rem;
    }
    @media only screen and (min-width: 90em) {
        background-position: bottom -3rem right -10rem, top 5.2rem left -10rem;
    }

    .wrapper {
        padding-top: 3.2rem;
        padding-bottom: 11.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media only screen and (min-width: 90em) {
            padding-top: 5rem;
            padding-bottom: 6rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, min-content);
            column-gap: 3.6rem;
            justify-items: start;
        }
    }

    &__list {
        padding: 4.4rem 0 5.9rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media only screen and (min-width: 40em) {
            align-self: flex-start;
        }
        @media only screen and (min-width: 90em) {
            padding: 3.4rem 0 5.9rem 0;
            letter-spacing: 0.3px;
        }
    }

    &__item {
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
            img {
                transform: translateX(7px);
            }
        }

        &:not(:last-child) {
            margin-bottom: 2.4rem;
            @media only screen and (min-width: 40em) {
                margin-bottom: 0.8rem;
            }
        }
    }

    &__img-box {
        flex: 0 0 7.2rem;
        width: 7.2rem;
        height: 7.2rem;
        margin-right: 2.3rem;

        img {
            height: 7.2rem;
            right: 0;
        }
    }

    .form {
        &__box {
            align-self: stretch;
            text-align: left;

            @media only screen and (min-width: 40em) {
                display: flex;
                justify-content: center;
            }
            @media only screen and (min-width: 90em) {
                grid-column: 2 / 3;
                grid-row: 1 / -1;
                align-items: stretch;
                width: 100%;
                padding-top: 2rem;
            }
        }

        @media only screen and (min-width: 40em) {
            flex: 1 1 100%;
        }
        
        max-width: 54.2rem;

        &__group:not(:last-child) {
                margin-bottom: 3rem;
                position: relative;
            }


        input,
        textarea {
            font-family: inherit;
            font-size: inherit;
            color: $color-white;
            font-weight: 300;
            padding: 1.5rem 2rem 0.5rem 2rem;
            border: none;
            border-bottom: 1px solid $color-white;
            background-color: transparent;
            width: 100%;

            &:focus {
                border-bottom: 1px solid $color-blue-light;
                outline: none;
            }

            &:not(:focus):invalid {
                border-bottom: 1px solid $color-primary-coral;
            }

            // THIS SHOULD BE ACTIVATED AFTER CLICKING SUBMIT
            &:not(:focus):invalid ~ label{
                color: rgba($color-primary-coral, 0.7);
            }
        }

        label {
            display: block;
            position: absolute;
            color: rgba($color-white, 0.5);
            top: -1.5rem;
            left: 0;
        }
    }
}