.wrapper {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
    @media only screen and (min-width: 40em) {
        padding-left: $padding-tablet-large;
        padding-right: $padding-tablet-large;
    }
    @media only screen and (min-width: 90em) {
        padding-left: $padding-desktop;
        padding-right: $padding-desktop;
    }
    
}